<html>
<head/>
<body style="background-color:white">

<h2><b><u>Hidato: How to Play</u></b></h2>

<blockquote>Hidato is a puzzle game invented by Dr. Gyora Benedek, an Israeli mathematician. The goal of Hidato is to fill the grid with consecutive numbers that connect horizontally, vertically, or diagonally.</blockquote>

<h3><u>To Play Hidato</u></h3>
<ol>
    <li>Double-click on the Hidato jar.</li>
    <li>Click the <b>File</b> menu, and the click <b>New game.</b></li>
    <li>Options for game generation will be shown. You can choose <b>board size</b> (x-dimension, y-dimension), <b>difficulty level</b> (easy, medium, hard) and <b>board shape</b> (rectangular, oval, donut).</li>
    <li>Press <b>Continue</b> to start a new game.</li>
    <li>The timer will be begin immediately.</li>
    <li>Select a cell and type in a number. Continue to fill up the grid.</li>
    <li>When you have finished, click <b>Done</b></li>
</ol>

<h4><i>Entering/deleting values to/from cell</i></h4>
<ul>
    <li>To enter value select cell by clicking on it. Enter number from 1 to N using keyboard (N - number of active cells).</li>
    <li>To delete value select cell by clicking on it. Remove number using keyboard.</li>
</ul>

<h3><u>Saving and loading games</u></h3>
<ol>
    <li>If you want to save game, click on <b>Save game</b> in <b>File</b> menu.</li>
    <li>Enter name for the file to save your Hidato game into and select the directory to save it into.</li>
    <li>Click <b>Save</b>.</li>
    <li>For loading game, click <b>Load game</b> in <b>File</b> menu.</li>
    <li>Navigate to the directory where you have saved your previous game and select the file.</li>
    <li>Click <b>Open</b>.</li>
</ol>

<h3><u>View high scores</u></h3>
<blockquote>
    To view high score click on Scores in File menu.
</blockquote>
</body>
</html>



